<div class="page-container">
    <mat-card class="form-container">
        <mat-card-content>
            <h1 class="center">Registration</h1>
            <form  (ngSubmit) = "onSubmit()" [formGroup] = "form">
                <mat-form-field class="form-row">
                    <mat-label class="fas fa-mail-bulk">Email</mat-label>
                    <input matInput type="email" placeholder="Email" (input) = "checkIfExists()" 
                    formControlName="email" required>
    
                </mat-form-field>
                 <label *ngIf = "userExists" style="color: red;">Email already exists</label>
                <mat-form-field class="form-row">
                    <mat-label class="fas fa-lock">Password</mat-label>
                    <input matInput type="password" placeholder="Password"
                     formControlName="password" required>
    
                </mat-form-field>

                <mat-form-field class="form-row">
                    <mat-label class="fas fa-ad">First name</mat-label>
                    <input matInput type="firstname" placeholder="First name" formControlName="firstName" required>
    
                </mat-form-field>

                <mat-form-field class="form-row">
                    <mat-label class="fas fa-ad">Last name</mat-label>
                    <input matInput type="lastname" placeholder="Last name" formControlName="lastName" required>
    
                </mat-form-field>
    
                <button mat-raised-button color="primary" type="submit"
                 [disabled] = "!form.valid || userExists">Register</button>

                
            </form>
        </mat-card-content>
    </mat-card>
</div>

