<mat-toolbar color="primary" *ngIf = "isLoggedIn">
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button>Welcome<mat-icon></mat-icon></button>
        <div class="row mr-2 ml-auto">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                        <img alt="Profile Photo" src="assets/images/profileImg.png" class="user-image mr-1 p-2"/>
                        
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click) = "logout()">
                            <mat-icon >exit_to_app</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>